// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #005CA5;
$background-color: #005CA5;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$headings-color: white;
$text-color: #C2D5E0;
$link-color: #fcfcff;
$selection-color: #fcfcff; // visible when highlighting text

// Tags color
$tags-color: #fcfcff;

//Search color
$search-color: #fcfcff;

// Header colours
$header-link-color: #C2D5E0;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #005CA5;
$header-desc-text-color: #C2D5E0;
$header-desc-link-color: #fcfcff;
